/* font */
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

/* reset */
* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #2c2c2c;
}
body {
    font-family: "Nanum Gothic", sans-serif;
}

/* layout */
#header {
    width: 960px;
    height: 160px;
    background-color: #4b7cd8;
    margin: 0 auto;
    /* 중앙정렬 */

    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}
#main {
    width: 960px;
    background-color: #909baf41;
    margin: 0 auto;
    /* 중앙정렬 */
}
#footer {
    width: 960px;
    height: 100px;
    background-color: #8eb4fa;
    margin: 0 auto;
    /* 중앙정렬 */
}

/* header */
#title {
    margin-top: 60px;
    margin-left: 20px;
}
#title h1 {
    font-family: "Black Ops One", system-ui;
    font-size: 40px;
    line-height: 1;
}
#title h2 {
    font-family: "Oswald", sans-serif;
    font-size: 35px;
    line-height: 1;
}

#nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
#nav ul.gnb {
    display: flex;
}
#nav ul.gnb {
}
#nav ul.gnb li {
}
#nav ul.gnb li a {
    display: block;
    padding: 8px 10px;
    border: 1px solid #16243f;
    background-color: #bbc2f3;
    font-size: 14px;
    font-weight: bold;
}
#nav ul.gnb li:first-child a {
    border-radius: 10px 0 0 10px;
}
#nav ul.gnb li:last-child a {
    border-radius: 0 10px 10px 0;
}
#nav ul.gnb li a:hover {
    background-color: #2e4d86;
    color: #bbc2f3;
}

#nav ul.lnb {
    display: flex;
}
#nav ul.lnb {
}
#nav ul.lnb li {
}
#nav ul.lnb li a {
    display: block;
    padding: 12px 25px;
    border: 1px solid #2e4d86;
    background-color: #7b84ce;
    color: #e0e3fc;
    font-size: 14px;
    font-weight: bold;
}
#nav ul.lnb li:first-child a {
    border-radius: 15px 0 0 15px;
}
#nav ul.lnb li:last-child a {
    border-radius: 0 15px 15px 0;
}
#nav ul.lnb li a:hover {
    background-color: #bbc2f3;
    color: #2e4d86;
}
